# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

*.pdf
*.html
methods_alternative/
